<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
	id="ws.yodas.rabbitfarm" xmlns:android="http://schemas.android.com/apk/res/android"
	versionCode="82" version="1.1.0-beta+20150623">
	<name>Rabbit Farm</name>
	<description>Experience the fun and excitement of running and managing your own rabbit farm!</description>
	<author href="http://css3design.guru" email="rabbit-farm@yodas.ws">Sam Grundman</author>

	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<icon src="icons/ic_launcher_xxhdpi.png" />

	<!-- Cross-platform Plugins -->
	<gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
	<access origin="https://creativecommons.org" />
	<access origin="http://yodasws.github.io" />
	<gap:plugin name="nl.x-services.plugins.insomnia" version="4.0.1" />
	<gap:plugin name="org.apache.cordova.device" version="0.2.12" />
	<!-- For future game development
	<gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.8.1" />
	<gap:plugin name="org.apache.cordova.vibration" version="0.3.11" />
	<gap:plugin name="nl.x-services.plugins.toast" version="2.0.2" />
	<gap:plugin name="com.adobe.plugins.gaplugin" version="2.4.0" />
	<feature name="http://api.phonegap.com/1.0/notification" />
	-->

	<!-- Android -->
	<gap:platform name="android"/>
	<preference name="android-minSdkVersion" value="16" />
	<gap:plugin name="com.a42.cordova.googleplaygame" version="2.0.4">
		<param name="APP_ID" value="93234051186"/>
	</gap:plugin>
	<gap:plugin name="com.mcm.plugins.androidinappbilling" version="3.0.6" />
	<icon src="icons/ic_launcher_ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="icons/ic_launcher_mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="icons/ic_launcher_hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="icons/ic_launcher_xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="icons/ic_launcher_xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<icon src="icons/ic_launcher_xxxhdpi.png" gap:platform="android" gap:qualifier="xxxhdpi" />
	<gap:config-file platform="android" parent="/manifest" mode="merge">
		<uses-permission android:name="com.android.vending.CHECK_LICENSE" />
		<uses-permission android:name="com.android.vending.BILLING" />
	</gap:config-file>

	<!-- For future iOS support
	<gap:platform name="ios" />
	<preference name="target-device" value="handset" />
	<gap:plugin name="cc.fovea.plugins.inapppurchase" version="3.4.0" />
	<gap:plugin name="com.rjfun.cordova.plugin.iad" version="0.1.8" />
	-->

	<!-- For future Windows Phone support
	<gap:platform name="winphone" />
	-->
</widget>
