/** CSS Reset **/
* { -webkit-box-sizing: border-box; box-sizing: border-box; }
:root { font-family: 'Trebuchet MS', 'Open San', sans-serif; font-size: 1em; }
html,body { margin: 0; padding: 0; }
body { position: relative; overflow-x: hidden; background: forestgreen; }
body > * {
	height: 100vh; width: 100vw; max-width: 480px;
	margin: 0 auto;
	position: absolute; top: 0;
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
}
a img, a:link img, a:visited img { border: 0 none; }

/** Splash Screen **/
div#intro { display: block; text-align: center; }

/** Main Game Center **/
main {
	padding: 2em 5em;
}
img#rabbit {
	display: block;
	height: 200px;
	margin: 2rem auto;
}
main > output {
	display: block;
	font-size: 3rem;
	color: white;
	font-weight: bold;
	font-family: monospace;
	text-align: right;
}
main > small {
	display: block;
	color: white;
	text-align: center;
}
main > small::before { content: '+'; }
main > small::after { content: ' rps'; }
main > a[href="#menu"] {
	position: absolute; left: 10px; top: 20px;
}

/** Main Menu **/
a[href="#menu"] {
	display: block; text-indent: -10000px; overflow: hidden;
	background: center center no-repeat url('../img/menu.png');
	background: #001111;
	width: 30px; height: 30px;
	-webkit-mask-image: url("../img/menu.png");
	-webkit-mask-size: contain;
	-webkit-mask-type: luminance;
	-webkit-mask-repeat: no-repeat;
	mask-image: url("../img/menu.png");
	mask-size: contain;
	mask-type: luminance;
	mask-repeat: no-repeat;
}
body > nav {
	width: 200px; max-width: 80vw;
	background: white;
}
body > nav > a {
	display: block; width: 75%; line-height: 2rem;
	border: 1px solid black; padding: 5px 10px; margin: 10px auto;
	white-space: nowrap; overflow: hidden;
	text-decoration: none; color: black;
}
#about > a[href="#main"],
body > nav > a[href="#main"] {
	display: block; color: red; text-decoration: none; text-align: center;
	height: 20px; width: 20px; font-size: 24px; line-height: 20px;
	position: absolute; top: 0px; right: 0px;
	border: 0 none; padding: 0; margin: 0;
	background: white; font-weight: bold;
}

/** Store **/
#shop {
	height: 70vh; top: 20vh;
	background: rgba(245, 245, 245, .9); /* whitesmoke #F5F5F5 */
	padding: 1rem;
}
#shop > ul {
	list-style: none; margin: 0; padding: 0;
	height: 100%; overflow-y: auto;
	border: 1px solid black;
}
#shop > ul > li {
	display: block; border-bottom: 1px solid black;
	min-height: 50px; padding: 5px 10px;
	cursor: pointer; clear: both;
	background: white;
}
#shop > ul > li:first-of-type { padding-right: 4rem; }
#shop > ul > li[disabled] {
	cursor: default;
	background: lightgrey;
}
#shop > a {
	display: block; float: right;
	color: black; text-transform: uppercase;
	text-decoration: none;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
	padding: 2px 5px;
	border: 1px outset black; border-radius: 7px; background: white;
	position: absolute; top: 1rem; right: 1rem;
}
#shop .name, #shop .cost { float: left; }
#shop .level, #shop .bonus { float: right; }
#shop .cost { clear: left; }
#shop .bonus { clear: right; }
#shop .level::before {
	content: 'lvl ';
}
#shop .bonus::before {
	content: '+';
}

/** Rabbits! **/
main > .rabbit { display: none; }
/*
main > .rabbit {
	position: absolute; left: 100%; top: 50vh;
	display: block; width: 50px; height: 50px; background: blue;
	-webkit-mask-image: url("../img/rabbit-2.png");
	-webkit-mask-size: contain;
	-webkit-mask-type: luminance;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	mask-image: url("../img/rabbit-2.png");
	mask-size: contain;
	mask-type: luminance;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-name: running;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-name: running;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@-webkit-keyframes running {
	from { left: 100%; }
	to { left: -50px; }
}
@keyframes running {
	from { left: 100%; }
	to { left: -50px; }
}
@keyframes jumping {
	from {
		transform: rotate(10deg);
	}
	to {
		transform: rotate(-10deg);
	}
}
/**/

/** Buttons **/
main > a[href="#shop"] {
	display: block; text-indent: -1000px;
	width: 122px; height: 90px;
	background: -149px -5px url('../img/stores.png') no-repeat;
}
a[href="#shop"], a[href="#menu"], a[href="#main"],
nav > a, img#rabbit, #shop > a, #shop > ul > li {
	-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

/** About **/
#about {
	background: white; height: 200px;
	padding: 0 1rem;
}
#about > small {
	display: block; text-align: center;
}
#about > div {
	margin-top: 1.3rem;
}
#about > h1 { text-align: center; margin-bottom: 0; }
#license { max-width: 200px; }
#version::before { content: 'v'; }
